<head>
    <link href=../static/css/test.css rel=stylesheet type=text/css>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(function () {
    $("#article").keyup(function (event) {
      if (event.which === 13) {
        document.myform.submit();
      }
    });
  });
</script>
<div class="hero-image">
    <div class="hero-text">
      <h1>Counter Point</h1>
      <h2>Change the way you get informed.</h2>
      <form action="{{ url_for('sample_page.get_results')}}" method="post">
        <input class="big-input" name="article" type="text" placeholder=""></input>
      </form>
      <p class="small">Counter Point is a tool to build a more informed global community.
        We did the difficult task of weeding through misinformation for you.
        Simply enter the url of an article you trust and agree with and we'll give you a variety of articles and where they stand on the topic.
        We believe that learning all sides of an argument and breaking out of our echo chambers is the key to opening dialgue on major problems around the world.
      </p>
    </div>
</div>